[submodule "extlibs/SSVJsonCpp"]
	path = extlibs/SSVJsonCpp
	url = https://github.com/SuperV1234/SSVJsonCpp
[submodule "extlibs/SSVUtils"]
	path = extlibs/SSVUtils
	url = https://github.com/SuperV1234/SSVUtils
[submodule "extlibs/SSVStart"]
	path = extlibs/SSVStart
	url = https://github.com/SuperV1234/SSVStart
[submodule "extlibs/SSVUtilsJson"]
	path = extlibs/SSVUtilsJson
	url = https://github.com/SuperV1234/SSVUtilsJson
